<%= form_for(@criterium, html:{class: 'form-horizontal'}) do |f| %>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
      <% @parameter_categories.each do |category| %>
        <li role="presentation"><a href=<%= '#'+category.name.downcase %> aria-controls="messages" role="tab" data-toggle="tab"><%= category.name%></a></li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="general">
        <br />
        <div class="form-group">
          <%= f.label :name, "Nama Kriteria", class: "col-sm-3 control-label" %>
          <div class="col-sm-8">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <%= link_to "<i class='fa fa-reply'></i> Batal".html_safe, { controller: "criteria", action: "index" }, class: "btn btn-default" %>
            <a class="btn btn-success btnNext">Lanjut <i class='fa fa-share'></i></a>
          </div>
        </div>
      </div>
      <% @parameter_categories.each do |category| %>
        <div id=<%= category.name.downcase %> role="tabpanel" class="tab-pane">
          <br />
          <% category.parameters.each do |param| %>
            <%= f.fields_for :criterium_parameters, @criterium.criterium_parameters.find_or_initialize_by(parameter_id: param.id) do |cp| %>
              <div class="form-group">
                <%= cp.label :value, param.name, class: "col-sm-3 control-label" %>
                <div class="col-sm-8">
                  <%= cp.text_field :value, class: "form-control" %>
                </div>
                <%= cp.hidden_field :parameter_id, {:value => param.id} %>
              </div>
            <% end %>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
              <a class="btn btn-default btnPrevious"><i class='fa fa-reply'></i> Kembali</a>
              <% if category == @parameter_categories.last %>
                <%= button_tag(type: "submit", class: "btn btn-success") do %>
                  <i class="fa fa-floppy-o"></i> Simpan
                <% end %>
              <% else %>
                <a class="btn btn-success btnNext">Lanjut <i class='fa fa-share'></i></a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.btnNext').click(function(){
    $('.nav-tabs > .active').next('li').find('a').trigger('click');
  });

  $('.btnPrevious').click(function(){
    $('.nav-tabs > .active').prev('li').find('a').trigger('click');
  });
</script>