<h4><%= is_create ? "Tinggalkan Pesan" : "Ubah Pesan"%></h4>
<%= form_tag(is_create ? discussions_path(format: :js) : discussion_path(comment.id), method: is_create ? 'post' : 'put', remote: true, class: 'clearfix') do %>
  <%= hidden_field_tag :id, !is_create ? comment.id : nil %>
  <div class="col-md-6 form-group">
    <%= label_tag :name, "Nama", class: "sr-only" %>
    <%= text_field_tag :name, current_user.present? ? current_user.name : nil, class: "form-control", placeholder: "Nama", :readonly => current_user.present? ? true : false %>
  </div>
  <div class="col-md-6 form-group">
    <%= label_tag :email, "Email", class: "sr-only" %>
    <%= text_field_tag :email, current_user.present? ? current_user.email : nil, class: "form-control", placeholder: "Email", :readonly => current_user.present? ? true : false %>
  </div>
  <div class="col-md-12 form-group">
    <%= label_tag :message, "Pesan", class: "sr-only" %>
    <%= text_area_tag :message, !is_create ? comment.message : nil, class: "form-control", placeholder: "Pesan" %>
  </div>
  <div class="col-md-12 form-group text-right">
    <%= hidden_field_tag :parent_id, !is_create ? comment.parent_id : nil %>
    <%= button_tag(type: "submit", class: "btn btn-success") do %>
      <i class="fa fa-floppy-o"></i> Simpan
    <% end %>
  </div>
<% end %>