<%= form_for(@analytic, html:{class: 'form-horizontal'}) do |f| %>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
      <% @parameter_categories.each do |category| %>
        <li role="presentation"><a href=<%= '#'+category.name.downcase.gsub(/\s+/, "") %> aria-controls="messages" role="tab" data-toggle="tab"><%= category.name%></a></li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="general">
        <br />
        <div class="form-group required">
          <%= f.label :location_id, "Kode Lokasi", class: "col-sm-3 control-label" %>
          <div class="col-sm-8">
            <%= f.collection_select :location_id, @locations, :id, :code, {include_blank: 'Pilih titik lokasi'}, {class: "form-control location-code"} %>
          </div>
        </div>
        <div class="form-group required">
          <%= f.label :period, "Periode", class: "col-sm-3 control-label" %>
          <div class="col-sm-8">
            <input type="text" class="form-control datepicker" id="period-datepicker">
            <%= f.hidden_field :period%>
          </div>
        </div>
        <div class="form-group required">
          <%= f.label :criterium_id, "Kriteria", class: "col-sm-3 control-label" %>
          <div class="col-sm-8">
            <%= f.select :criterium_id, @criteria.collect {|c| [ c.name, c.id ] }, {include_blank: 'Pilih kriteria'}, {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <%= link_to "<i class='fa fa-reply'></i> Batal".html_safe, { controller: "analytics", action: "index" }, :'data-turbolinks'=>'false', class: "btn btn-default" %>
            <a class="btn btn-success btnNext">Lanjut <i class='fa fa-share'></i></a>
          </div>
        </div>
      </div>
      <% @parameter_categories.each do |category| %>
        <div id=<%= category.name.downcase.gsub(/\s+/, "") %> role="tabpanel" class="tab-pane">
          <br />
          <% category.parameters.each do |param| %>
            <%= f.fields_for :analytic_parameters, @analytic.analytic_parameters.find_or_initialize_by(parameter_id: param.id) do |cp| %>
              <div class="form-group">
                <%= cp.label :value, param.name, class: "col-sm-3 control-label" %>
                <div class="col-sm-8">
                  <%if param.analytic_type == 'dengan kondisi'%>
                    <%= cp.select :special_character, @parameter_special_characters, {}, {class: "condition col-sm-3 form-control initial-size"} %>
                    <div class="input-group">
                      <%= cp.number_field :value, class: "condition col-sm-7 form-control", "aria-describedby" => "unit" %>
                      <span class="input-group-addon" id="unit"><%= param.unit %></span>
                    </div>
                  <% else %>
                    <div class="input-group">
                      <%= cp.number_field :value, class: "form-control", "aria-describedby" => "unit" %>
                      <span class="input-group-addon" id="unit"><%= param.unit %></span>
                    </div>
                  <%end%>
                </div>
                <%= cp.hidden_field :parameter_id, {:value => param.id} %>
              </div>
            <% end %>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
              <a class="btn btn-default btnPrevious"><i class='fa fa-reply'></i>Kembali</a>
              <% if category == @parameter_categories.last %>
                <%= button_tag(type: "submit", class: "btn btn-success") do %>
                  <i class="fa fa-floppy-o"></i> Simpan
                <% end %>
              <% else %>
                <a class="btn btn-success btnNext">Lanjut <i class='fa fa-share'></i></a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $( document ).on('turbolinks:load', function() {

    $('.location-code').select2({
        theme: "bootstrap"
    });

    $('.btnNext').click(function(){
      $('.nav-tabs > .active').next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function(){
      $('.nav-tabs > .active').prev('li').find('a').trigger('click');
    });

    // initialize datepicker
    var dateElement = $('#period-datepicker').datepicker({
      format: "MM yyyy",
      startView: 1,
      minViewMode: 1,
      maxViewMode: 2
    });

    // set timestamp hiden element and hide datepicker when user change months
    dateElement.on("changeMonth", function(e){
      $('#analytic_period').val(e.date);
      $(e.target).datepicker("hide");
    });
    
    initLocation();
  });

  var initLocation = function(){
    <% if @analytic.id.present?%>
      $('.datepicker').datepicker('update', '<%= @analytic.period.strftime("%m-%Y") %>');
    <% end %>  
  }

</script>