<%= form_for(@parameter_category, html:{class: 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Nama Kategori", class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <%= link_to "Batal", { controller: "parameter_categories", action: "index" }, class: "btn btn-default" %>
      <%= f.submit "Simpan", class: "btn btn-success" %>
    </div>
  </div>
<% end %>