<%= render :partial => 'shared/error_messages', :locals => {:obj => @user} %>

<h2 class="page-header">Registrasi User</h2>
 
<%= form_for(@user, html:{class: 'form-horizontal'}) do |f| %>
  <%= render :partial => 'user_fields', :locals => { :f => f } %>

  <div class="form-group">
    <%= f.label :password, "Sandi", class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Konfirmasi Sandi", class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <%= link_to "Batal", { controller: "users", action: "index" }, class: "btn btn-default" %>
      <%= f.submit "Simpan", class: "btn btn-success" %>
    </div>
  </div>
 
<% end %>