<%= render :partial => 'shared/error_without_params' %>

<div class="header-content">
  <h2 class="page-header">Data Hasil Analisa</h2>
</div>
<div class="col-md-12">
  <div class="col-md-10">
    <%= form_tag(results_get_analytics_path(format: :js), method: 'get', remote: true, class: 'form-inline', id: 'filter') do %>
      <fieldset>
        <div class="form-group">
          <%= select_tag 'river_name', options_for_select(@rivers), prompt: "Pilih sungai", class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= text_field_tag 'period', nil, placeholder: 'Periode', class: 'form-control datepicker'%>
          <%= hidden_field_tag 'period_date'%>
        </div>
        <div class="form-group">
          <%= select_tag 'criterium', options_for_select(@criteria.collect{ |c| [c.name, c.id] }), prompt: "Pilih kriteria", class: 'form-control'%>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="col-md-2">
    <% if current_user.present? %>
      <%= link_to '<i class="fa fa-download"></i> Unduh(PDF)'.html_safe, results_save_analytic_as_pdf_path(:format => :pdf), :class => "btn btn-success disabled", id: "download-pdf", target: :_blank, disabled: true%>
    <% else %>
      <button type="button" class="btn btn-success disabled" id="download-pdf" disabled><i class="fa fa-download"></i> Unduh(PDF)</button>
    <% end %>
  </div>
</div>
<div class="col-md-12" id="result-container">
  <table class="table table-striped table-bordered">
    <tr>
      <td>Data tidak ditemukan</td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  var isAllFieldFilled = function(){
    var river = $("#river_name").val();
    var period = $("#period").val();
    var criterium = $("#criterium").val();
    if (river !== "" && period !== "" && criterium !== "") {
      return true;
    };
    return false;
  }

  $('button#download-pdf').on('click', function(){
    $("#download-confirmation-modal").remove();

    $('body').append('<%= escape_javascript (render :partial => "download_confirmation", :locals => {:form_action => results_save_analytic_as_pdf_path(:format => :pdf)}) %>');

    $('#download-confirmation-modal').modal('show');
  })

  $("#river_name").on('change', function(){
    if (isAllFieldFilled()) {
      $('#filter').trigger('submit');
    };
  })

  $("#period").on('change', function(){
    if (isAllFieldFilled()) {
      $('#filter').trigger('submit');
    };
  })

  $("#criterium").on('change', function(){
    if (isAllFieldFilled()) {
      $('#filter').trigger('submit');
    };
  })

  var dateElement = $('.datepicker').datepicker({
    format: "MM yyyy",
    startView: 1,
    minViewMode: 1,
    maxViewMode: 2
  });

  // set timestamp hiden element and hide datepicker when user change months
  dateElement.on("changeMonth", function(e){
    var elementId = e.target.id;
    $('#'+elementId+'_date').val(e.date);
    $(e.target).datepicker("hide");
  });
</script>
<%= javascript_include_tag 'download_confirmation' %>