<%= render :partial => 'shared/error_without_params' %>

<div class="header-content">
  <h2 class="page-header">Grafik Analisa</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <form class='form-inline' id='filter'>
      <fieldset>
        <div class="form-group">
          <%= select_tag 'river_name', options_for_select(@rivers), prompt: "Pilih sungai", class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= select_tag 'parameter', grouped_options_for_select(@parameters), prompt: "Pilih Parameter", class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= text_field_tag 'start_period', nil, placeholder: 'Mulai dari', class: 'form-control datepicker'%>
          <%= hidden_field_tag 'start_period_date'%>
        </div>
        <div class="form-group">
          <%= text_field_tag 'end_period', nil, placeholder: 'Sampai dengan', class: 'form-control datepicker'%>
          <%= hidden_field_tag 'end_period_date'%>
        </div>
        <div class="form-group">
          <%= select_tag 'criterium', options_for_select(@criteria.collect{ |c| [c.name, c.id] }), prompt: "Pilih kriteria", class: 'form-control'%>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<br />  
<div class="row">
  <div class="col-md-2">
    <% if current_user.present? %>
      <%= link_to '<i class="fa fa-download"></i> Unduh(PDF)'.html_safe, results_save_analytic_chart_as_pdf_path(:format => :pdf), :class => "btn btn-success disabled", id: "download-chart-pdf", target: :_blank, disabled: true%>
    <% else %>
      <button type="button" class="btn btn-success disabled" id="download-chart-pdf" disabled><i class="fa fa-download"></i> Unduh(PDF)</button>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="result-container">
    <table id="table-empty" class="table table-striped table-bordered">
      <tr>
        <td>Data tidak ditemukan</td>
      </tr>
    </table>
    <canvas style="display:none;" id="myChart" width="400" height="400"></canvas>
  </div>
</div>

<script type="text/javascript">
  $('button#download-chart-pdf').on('click', function(){
    $("#download-confirmation-modal").remove();

    $('body').append('<%= escape_javascript (render :partial => "download_confirmation", :locals => {:form_action => results_save_analytic_chart_as_pdf_path(:format => :pdf)}) %>');

    $('#download-confirmation-modal').modal('show');
  })
</script>
<%= javascript_include_tag 'analytic_charts' %>
<%= javascript_include_tag 'download_confirmation' %>