<div class="col-sm-6">
  <%= form_for(@location, html:{class: 'form-horizontal'}) do |f| %>
    <div class="form-group required">
      <%= f.label :river_name, "Nama Sungai", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.select :river_name, @rivers, {}, {class: "form-control"} %>
      </div>
    </div>
    <div class="form-group required">
      <%= f.label :spot_name, "Titik Lokasi", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :spot_name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group required">
      <%= f.label :address, "Alamat", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.text_area :address, placeholder: "Alamat", id:"address-field", class: "form-control" %>
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-3 control-label">Koordinat</label>
    </div>
    <div class="form-group">
      <%= f.label :longitude, "Longitude", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :longitude, placeholder: "contoh: 6.920277778 ", class: "form-control", id: "location_longitude" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :latitude, "Latitude", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :latitude, placeholder: "contoh: -109.1255556 ", class: "form-control", id: "location_latitude" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <%= link_to "<i class='fa fa-reply'></i> Batal".html_safe, { controller: "locations", action: "index" }, class: "btn btn-default" %>
        <%= button_tag(type: "submit", class: "btn btn-success") do %>
          <i class="fa fa-floppy-o"></i> Simpan
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div>
  <div class="card">
    <div class="card-block">
      <div id="map"></div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'map' %>