<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= include_gon %>
    <% if Rails.env.development? %>
      <%= wicked_pdf_javascript_include_tag "jquery" %>
      <%= wicked_pdf_javascript_include_tag "jquery_ujs" %>
      <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <% elsif Rails.env.production? %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
      <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
      <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js" %>
      <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.js" %>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <% end %>
    <style type="text/css">
      thead { display: table-header-group }
      tfoot { display: table-row-group }
      tr { page-break-inside: avoid }
    </style>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>