<div class="header-content">
  <h2 class="page-header">Daftar Parameter</h2>
</div>
<table id="article-table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nama</th>
      <th>Kategori</th>
      <th>Tanggal dibuat</th>
    </tr>
  </thead>
  <% @parameters.each do |p| %>
    <tr>
      <td>
        <%= "#{p.name}" %>
        <div class="btn-group" style="float: right;">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to_if(can?(:edit, Parameter), "<i class='fa fa-pencil-square-o'></i> Ubah".html_safe, edit_parameter_path(p.id)) {} %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to_if(can?(:delete, p), "<i class='fa fa-times'></i> Hapus".html_safe, p, :data => {:confirm => 'Apakah anda yakin?'}, :method => :delete) {} %></li>
          </ul>
        </div>
      </td>
      <td><%= "#{p.parameter_category.name}" %></td>
      <td><%= "#{p.created_at.strftime('%d-%m-%Y')}" %></td>
    </tr>
  <% end %>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('#article-table').DataTable({
      dom: "<'row'<'col-sm-6'B><'col-sm-6'f>><'row'<'col-sm-12't>><'row'<'col-sm-12'p>>",
      buttons: [
        {
          text: '<i class="fa fa-plus"></i> Tambah',
          className: 'btn btn-success',
          action: function(e, dt, node, config) {
            window.location.href = '/parameters/new';
          }
        }
      ]
    });
  });
</script>